
  

  .electric-wallpaper{
    /* font-family: 'Ubuntu', sans-serif; */
    display: flex;
    align-items: center;
    align-content: space-around;
    padding:0px;
    max-width: 100vw;    
    height: 50vh;
    /* background-color: rgb(120, 138, 120); */
    background-image: url("../../assets/images/electric.jpg");    
    background-size: cover;
    background-blend-mode: multiply;    

}



@media (max-width:600px) {    

      .course-selector {
        display: none;
        
      }
      


    .electric-wallpaper{
        /* font-family: 'Ubuntu', sans-serif; */
        display: flex;
        align-items: center;
        align-content: space-around;
        padding:0px;
        max-width: 100vw;    
        height: 30vh;
        /* background-color: rgb(120, 138, 120); */
        background-image: url("../../assets/images/electric.jpg");    
        background-size: cover;
        background-blend-mode: multiply;    
    
    }
    
}