<div class="p-0 container-fluid d-flex flex-column justify-content-center">
    <div class="courses-container">
      <div>
        <h4>Courses available</h4>
        <div class="list-group courses-list list-group-flush">
            <a (click)="courseSelected($event)" class="list-group-item list-group-item-action list-group-item-primary">Electrician</a>
            <a class="list-group-item list-group-item-action list-group-item-primary">Carpenter</a>
            <a class="list-group-item list-group-item-action list-group-item-primary">Computer Programmer</a>
            <a class="list-group-item list-group-item-action list-group-item-primary">Refrigeration</a>
            <a class="list-group-item list-group-item-action list-group-item-primary">Air conditioner mechanic</a>
        </div>
      </div>
      <div class="course-details">
        <h3>Cource name</h3>

      </div>
    </div>
    <div class="movetext">
      <p>Last date of submmitting examination forms is 31st March 2023. Any application after specified date won't be
        considred!</p>
    </div>
    <div>
      <!-- <a class="btn btn-secondary" routerLink="/contact">Get in touch</a> -->
      <!-- <button class="btn btn-secondary">Get in touch</button> -->
    </div>

    <div class="get-in-touch">
      <div>
        <!-- <a class="btn btn-secondary" routerLink="/contact">Get in touch</a> -->
        <!-- <button class="btn btn-secondary">Get in touch</button> -->
      </div>
    </div>
  </div>