<div class="p-0 container-fluid d-flex flex-column justify-content-center">
  <div class="home-heading-container">


    <div>
      <h1>Gallary </h1>
    </div>
  </div>
  <div class="movetext">
    <p>Last date of submmitting examination forms is 31st March 2023. Any application after specified date won't be
      considred!</p>
  </div>
  <div>
    <!-- <a class="btn btn-secondary" routerLink="/contact">Get in touch</a> -->
    <!-- <button class="btn btn-secondary">Get in touch</button> -->
  </div>

  <div class="get-in-touch">
    <div>
      <!-- <a class="btn btn-secondary" routerLink="/contact">Get in touch</a> -->
      <!-- <button class="btn btn-secondary">Get in touch</button> -->
    </div>
  </div>
</div>