.info {
    display: flex;
    justify-content:space-around;
}


.card .button {
    border-radius: 15px;
}

.card-title {
    text-align: center;
}

.card {
    width: 15vw;
    height: 40vh;
    border-radius: 1.3rem;
    box-shadow: 0 4px 5px 4px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    text-align: center; 
}



.card:hover {
    background-color: rgb(78, 106, 101) !important;
}

.card i {
    display: block;
    font: 50px;
    text-align: center;
    color: rgb(238, 220, 220);
}
