<div class="info">
    <div class="highlights">
      <div class="card text-bg-secondary m-2">
        <div class="card-body d-flex flex-column">
          <i class="fa-solid fa-bars m-2"></i>
          <h5 class="card-title">Our Success Stories</h5>
          <p class="card-text">Following new courses are added</p>
          <a [routerLink]="['/web-dev']" class="btn btn-primary mt-auto button">See more</a>
        </div>
      </div>
    </div>

    <div class="previous-result">
      <div class="card text-bg-secondary m-2">
        <div class="card-body d-flex flex-column">
          <i class="fa-solid fa-bars m-2"></i>
          <h5 class="card-title">Last year's result</h5>
          <p class="card-text">Following are results</p>
          <a [routerLink]="['/web-dev']" class="btn btn-primary mt-auto button">See more</a>
        </div>
      </div>
    </div>
    <div class="news">
      <div class="card text-bg-secondary m-2">
        <div class="card-body d-flex flex-column">
          <i class="fa-solid fa-bars m-2"></i>
          <h5 class="card-title">News Flash</h5>
          <p class="card-text">Results are out for 2022 batch CS brach </p>
          <a [routerLink]="['/web-dev']" class="btn btn-primary mt-auto button">See more</a>
        </div>
      </div>

    </div>
  </div>