<div class="admission-details">        
    <h2>ITI Admissions</h2>          
    <hr class="mb-4">
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse iste libero provident. 
    Laudantium laborum eveniet, quia recusandae quam accusamus numquam.
   </p>

   <h3>Cource duration</h3>      
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse iste libero provident. 
    Laudantium laborum eveniet, quia recusandae quam accusamus numquam.
   </p>

   <h3>Placement</h3>
  
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse iste libero provident. 
    Laudantium laborum eveniet, quia recusandae quam accusamus numquam.
   </p>
   
   <p>       
   </p>
  </div>